<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>关于 -
        <%= title%></title>
    <link rel="stylesheet" type="text/css" href="/css/home/index.css?v=<%= version%>" />
</head>

<body>
	<!-- 头部共用区域 -->
    <header>
        <nav>
            <ul>
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/job">Job</a>
                </li>
                <li>
                    <a href="/game">Game</a>
                </li>
                <li>
                    <a href="/math">Math</a>
                </li>
                <li>
                    <a href="/amazing">Amazing</a>
                </li>
                <li>
                    <a href="/interest">Interest</a>
                </li>
            </ul>
        </nav>
    </header>
    
	<!-- 尾部共用区域 -->
</body>

</html>
