* {
    margin: 0;
    padding: 0;
}

body{
	font-family: 'Open Sans',Arial,sans-serif;
}

ol li,
ul li {
    list-style: none;
    counter-increment: linenumber;
}

ol li:before,
ul li:before {
    content: counter(linenumber);
}

#wordCon {
    display: block;
}

#container {
    display: block;
    width: 1000px;
    margin: 0 auto;
    text-align: right;
    overflow: hidden;
}
