<!DOCTYPE html>
<html>

<head>
    <title>用户 -
        <%= title%>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/users/index.css?v=<%= version%>" />
    <script type="text/javascript" src="/js/lib/jquery-2.1.4.js?v=<%= version%>"></script>
    <script type="text/javascript" src="/js/view/users/index.js?v=<%= version%>"></script>
</head>

<body>
    <div id="wordCon">
        <ul>
            <li>---楚虽三户，亡秦必楚---</li>
            <li>---掌中舞罢箫声绝，三十六宫秋夜长---</li>
            <li>---一枝红艳露凝香，云雨巫山枉断肠---</li>
            <li>---苦心膏沐不论赀，富贵人生各有时---</li>
            <li>---唯有知情一片月, 曾窥飞鸟入昭阳---</li>
            <li>---明犯强汉者, 虽远必诛---</li>
            <li>---帝高阳之苗裔兮, 正皇考曰伯庸---</li>
            <li>---皇览揆余初度兮, 肇锡余以嘉名---</li>
        </ul>
    </div>
    <div id="container">2345435</div>
</body>

</html>
