<!DOCTYPE html>
<html>

<head>
    <title>用户 -
        <%= title%>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/users/index.css?v=<%= version%>" />
    <script type="text/javascript" src="/js/lib/jquery-2.1.4.js?v=<%= version%>"></script>
    <script type="text/javascript" src="/js/view/users/index.js?v=<%= version%>"></script>
</head>

<body>
    <div id="wordCon">
        <ol id="wordContainer">
        </ol>
    </div>
    <div id="container">2345435</div>
</body>

</html>
