<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/job">Job</a>
            </li>
            <li>
                <a href="/game">Game</a>
            </li>
            <li>
                <a href="/math">Math</a>
            </li>
            <li class="active">
                <a href="/amazing">Amazing</a>
            </li>
            <li>
                <a href="/interest">Interest</a>
            </li>
        </ul>
    </nav>
</header>
