<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>首页 -
        <%= title%>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/home/index.css?v=<%= version%>" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="active">Home</li>
                <li>Job</li>
                <li>Game</li>
                <li>Math</li>
                <li>Amazing</li>
                <li>Interest</li>
            </ul>
        </nav>
    </header>
    <div class="banner">
        <div class="banner_container">
            大图轮播区域
        </div>
    </div>
    <div class="cont">
        <% if(sort.length){ %>
            <% for(var i = 0; i < sort.length; i++ ) { %>
                <% var item = sort[i] %>
                <div class="conb">
                    <h3 class="cont_title"><% = item.title %></h3>
                    <ul>
                        <% for(var j = 0; j < item._sort.length; j++ ) { %>
                            <% var _item = item._sort[j] %>
                            <li>
                                <div class="article_list">
                                    <h4 class="art_list_title"><% = _item.title %></h4>
                                    <ul>
                                        <% for(var j = 0; j < _item.article.length; j++ ) { %>
                                            <% var article = _item.article[j] %>
                                            <li>
                                                <a href="<% = article.src %>">
                                                    <% = article.title %>
                                                </a>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
        <% } %>
    </div>
    <footer>
        <div class="bottom">
            <ul>
                <li>© 2016 Ijnan, Inc.</li>
                <li><a href="#">社区</a></li>
                <li><a href="#">关于</a></li>
                <li class="clear"><a href="#">帮助</a></li>
            </ul>
        </div>
    </footer>
</body>
<script type="text/javascript" src="/js/lib/jquery-2.1.4.js?v=<%= version%>"></script>
<script type="text/javascript" src="/js/view/home/index.js?v=<%= version%>"></script>

</html>
