<!DOCTYPE html>
<html>

<head>
    <title>首页 -
        <%= title%>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/home/index.css?v=<%= version%>" />
</head>

<body>

    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Job</li>
                <li>Game</li>
                <li>Math</li>
                <li>Amazing</li>
                <li>Interest</li>
            </ul>
        </nav>
    </header>

    <div class="cont">
        <div class="conb">
            
        </div>
    </div>

</body>
<script type="text/javascript" src="/js/lib/jquery-2.1.4.js?v=<%= version%>"></script>
<script type="text/javascript" src="/js/view/home/index.js?v=<%= version%>"></script>

</html>
