html {
    font-size: 14px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Microsoft YaHei', "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-width: 1280px;
}

nav {
    display: inline-block;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}

nav>ul {
    list-style: none;
    /*margin-left: 60px;*/
}

nav>ul>li {
    float: left;
    padding: 2px 10px;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    transition: background-color 1s;
}

nav>ul>li.active,
nav>ul>li:hover {
    background-color: #eeeeee;
}

.banner {
    border-bottom: 1px solid #eee;
}

.banner_container {
    height: 240px;
    text-align: center;
}

.cont {
    padding-left: 24px;
    padding-right: 24px;
}

.conb {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

.cont_title {
    text-align: center;
    font-size: 24px;
    margin: 20px auto;
    width: 300px;
    border-bottom: 2px solid #bbb0b0;
}

.conb>ul {
    display: block;
    text-align: center;
}

.conb>ul>li {
    width: 380px;
    display: inline-block;
    text-align: left;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid #eeeeee;
    padding: 5px 10px;
}

.art_list_title {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}

.article_list li {
    padding: 5px 10px;
}

.article_list li a {
    color: #333333;
}

.article_list li a:hover {
    text-decoration: underline;
}


/**  -- 页脚 start --  **/

footer {
    padding-right: 24px;
    padding-left: 24px;
    border-top: 1px solid #eee;
}

.bottom {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.bottom ul {
    display: block;
    height: 20px;
}

.bottom ul li {
    float: left;
    padding-right: 20px;
    height: 20px;
    line-height: 20px;
}

.bottom ul li a {
    color: #333333;
}

.bottom ul li a:hover {
    text-decoration: underline;
}

.clear:after {
    clear: both;
}


/**  -- 页脚 end --  **/
